body {
    background-color: #dbe7e7 !important;
    font-family: "Playfair Display" !important;
}

.navbar {
    background-color: #67a6ca;
    color: white;
}

.nav-link {
    font-family: Nunito;
    color: white !important;
}

.active {
    text-decoration: underline;
    font-weight: bold !important;
    color: rgb(88, 167,213) !important;
}

.navName {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: Josefin Sans;
    letter-spacing: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12.5px 0px;
}

.links {
    display: flex;
}
.navLink:hover {
    color: white !important;
}
.navbar-brand {
    color: white !important;
    text-decoration: none;
    font-size: 30px;
    font-family: Josefin Sans;
    letter-spacing: 5px;
}
.navName:hover {
    color: white !important;
    text-decoration: underline;
}

.presentPage {
    display: block;
    text-decoration: underline;
    /* margin-left: 40px; */
    margin: 0px 40px;
    font-family: Nunito;
    font-size: 25;
    color: white;
}

.navMargin {
    margin-top: 5px;
}
@media();

.intro {
    color: #6d6262;
    font-size: 45px;
    font-weight: lighter;
}

.name {
    font-size: 60px;
    font-family: Abril Fatface;

}

.rectangle {
    width: 110px;
    height: 5px;
    background: #67a6ca;
}

.box2 {
    justify-content: space-between;
}
